.main {
	margin: 40px auto;
	width: 1300px;
	height: 840px;
	
}
.main .main-tit{
	font-size: 32px;
    color: #333;
    line-height: 50px;
    text-align: center;
}
.main p{
	font-size: 16px;
    color: #999;
    line-height: 40px;
    text-align: center;
}
.main a{
	font-size: 20px;
	margin-left: 80px;
	
}
.w1200 .con img{
	float: left;
	margin: 10px 0px 10px 0;
}
.w1200 .a1,.a2,.a3,.a4,.a5,.a6{
	float: left;
	background: url(../img/c.png) no-repeat 50px 140px;
	width: 285px;
	height: 240px;
	margin: 10px 10px 10px 0;
}
.product{
	float: left;
	width: 1300px;
	margin-bottom: 20px;
}

.product div{
	
	font-size: 32px;
    color: #333;
    line-height: 50px;
    text-align: center;
}
