.main{
	width: 1180px;
	height: ;
	margin: 40px auto;
	text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}
.main .main-tit{
	font-size: 32px;
    color: #333;
    line-height: 50px;
}
.main p{
	font-size: 16px;
    color: #999;
    line-height: 40px;
}
.main .w1200{
	height: 820px;
    width: 1300px;
    
    float: left;
}
.main .w1200 .con img{
	float: left;
}
.main .w1200 .con .a1{
	height: 240px;
	width: 285px;
	background: url(../img/c.png) no-repeat 50px 132px;
	float: left;
}
.main .w1200 .con .a2{
	height: 240px;
	width: 285px;
	background: url(../img/c.png) no-repeat 50px 132px;
	float: left;
}
.main .w1200 .con .a3{
	height: 240px;
	width: 285px;
	background: url(../img/c.png) no-repeat 50px 132px;
	float: left;
}
.main .w1200 .con .a4{
	height: 240px;
	width: 285px;
	background: url(../img/c.png) no-repeat 50px 132px;
	float: left;
}
.main .w1200 .con .a5{
	height: 240px;
	width: 285px;
	background: url(../img/c.png) no-repeat 50px 132px;
	float: left;
}
.main .w1200 .con a{
	float: left;
	font-size: 20px;
	margin: 20px 0px 0 0px;
	
}
