.nav{
	
	width: 1300px;
	height:230px ;
	margin: 20px auto;
	margin-bottom: 40px;
}
.nav .b1{
	height: 200px;
	width: 390px;
	float: left;
	
	margin-right: 20px;
}
.nav img{
	float: left;
	width: 64px;
	height: 64px;
}
.nav .b1-a{
	float: left;
	margin: 10px 10px 10px 20px;
}
.nav .b1-b{
	float: left;
	font-size: 14px;
	color: #999;
}
.nav .b1 a{
	float: left;
	font-size: 14px;
	color: orangered;
}
.nav .b2{
	float: left;
	font-size: 110px;
	font-weight: 800;
}
.bottom{
	
	margin-top: 80px;
	width: 100%;
	height: 400px;
	background: rgb(31,31,31);
}
.bottom .b1200{
	margin: 0 auto;
	width: 1200px;
	height: 360px;
	padding: 20px;
	color: rgb(113,113,113);

}
.bottom .b1200 #d{
	color: rgb(255,255,255);
	width: 190px;
	height: 105px;
	line-height: 25px;
	margin-bottom: 30px;
	float: left;
}
.bottom .b1200 #d a{
	color: rgb(113,113,113);
	font-size: 13px;		
	display: block;
}
.b1200 .wei{
	width: 190px;
	height: 120px;
	font-size: 13px;
	float: left;
	text-align: center;
	
}
.b1200 .wei img{
	
	
}
.b1200 .wei span{
	float: left;
	margin-left:30px ;
	margin-top: 20px;
}
.b1200 .cheng{
	float: left;
	color: rgb(113,113,113);	
	font-size: 13px;
	margin-top: 20px;	
	margin-bottom: 20px;
	
}
.b1200 .cheng a{
	color: rgb(113,113,113);
	margin-left: 10px;
}
.b1200 .chexian{
	float: left;
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-size: 13px;
	padding: 10px 0;
}
.b1200 .chexian a{
	color: rgb(113,113,113);
	margin-right: 18px;
}
.b1200 .span{
	float: left;
	font-size: 13px;
}
a:hover{
	text-decoration: underline;
}
